  /* Dark theme tokens */
  [data-theme-mode='dark'] {
    /* Solid background colors */
    --bui-bg-solid: #9cc9ff;
    --bui-bg-solid-hover: #83b9fd;
    --bui-bg-solid-pressed: #83b9fd;
    --bui-bg-solid-disabled: #1b3d68;

    /* Neutral background colors */
    --bui-bg-app: #333333;
    --bui-bg-popover: #1a1a1a;

    --bui-bg-neutral-1: oklch(100% 0 0 / 10%);
    --bui-bg-neutral-1-hover: oklch(100% 0 0 / 14%);
    --bui-bg-neutral-1-pressed: oklch(100% 0 0 / 20%);
    --bui-bg-neutral-1-disabled: oklch(100% 0 0 / 10%);

    --bui-bg-neutral-2: oklch(100% 0 0 / 6%);
    --bui-bg-neutral-2-hover: oklch(100% 0 0 / 10%);
    --bui-bg-neutral-2-pressed: oklch(100% 0 0 / 16%);
    --bui-bg-neutral-2-disabled: oklch(100% 0 0 / 6%);

    --bui-bg-neutral-3: oklch(100% 0 0 / 8%);
    --bui-bg-neutral-3-hover: oklch(100% 0 0 / 12%);
    --bui-bg-neutral-3-pressed: oklch(100% 0 0 / 20%);
    --bui-bg-neutral-3-disabled: oklch(100% 0 0 / 8%);

    --bui-bg-neutral-4: oklch(100% 0 0 / 8%);
    --bui-bg-neutral-4-hover: oklch(100% 0 0 / 12%);
    --bui-bg-neutral-4-pressed: oklch(100% 0 0 / 20%);
    --bui-bg-neutral-4-disabled: oklch(100% 0 0 / 8%);

    /* Status background colors */
    --bui-bg-danger: #300c0c;
    --bui-bg-warning: #302008;
    --bui-bg-success: #042713;
    --bui-bg-info: #132049;

    /* Foreground colors */
    --bui-fg-primary: var(--bui-white);
    --bui-fg-secondary: oklch(100% 0 0 / 50%);
    --bui-fg-disabled: oklch(100% 0 0 / 28%);
    --bui-fg-solid: #101821;
    --bui-fg-solid-disabled: #6191cc;

    /* Foreground statuses */
    --bui-fg-danger-on-bg: #fca5a5;
    --bui-fg-warning-on-bg: #fdba74;
    --bui-fg-success-on-bg: #86efac;
    --bui-fg-info-on-bg: #a3cfff;
    --bui-fg-danger: #ff5a30;
    --bui-fg-warning: #ffa057;
    --bui-fg-success: #1ed760;
    --bui-fg-info: #70b8ff;

    /* Border colors */
    --bui-border-1: #434343;
    --bui-border-2: #585858;
    --bui-border-info: #7ea9d6;
    --bui-border-danger: #f87a7a;
    --bui-border-warning: #e36d05;
    --bui-border-success: #53db83;

    /* Special colors */
    --bui-ring: #1f5493;
    --bui-scrollbar: #3636363a;
    --bui-scrollbar-thumb: #575757;

    /* Shadows */
    --bui-shadow: none;
  }